*{
    font-family: cursive;
    box-sizing: border-box;
 
}
 /*efecto*/
a{
    border: 2px solid blue;
    background-color:black;
    color: crimson;
    border-radius: 10px;
    padding:5px 10px ;
       text-decoration: none;
}
a:hover{
    background-color: crimson;
    color: white;
    padding: 6px 20px;
    transition-duration: 1000ms;
}

[class*="col-"]{
    width: 100%;
    float: left;
}
/***********  ***************/

table{
    border: 2px solid blue;
    border-radius: 10px;
   
}

@media only screen and (min-width:1px){
    html{font-size: 12px;}
    [class*="col-s"]{padding: 0rem;}
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }
}
/* ***********Vista tablet *********/
@media only screen and (min-width:512px){
    html{font-size: 14px;}
    .fila{width: 90%;}
    [class*="col-m"]{padding: 0.5rem;}
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }
}
/* ***********Vista escritorio ********/
@media only screen and (min-width:700px){
    html{font-size: 20px;}
    .fila{width: 80%;}
    [class*="col-"]{padding: 0rem;}
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }
}
